h1 {
                font-size: 30px;
                font-family: Monaco, Courier, monospace;
                color: #618ad2;
}

p2 {
				font-size: 20px;
				font-family: Monaco, Courier, monospace;
				color: black;
				text-align: right;
}

p {
				font-size: 15px;
				text-align: right;
}